.page {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.left-conatiner {
    display: flex;
    width: 700px;
    height: 100vh;
    background-image: url("coffee_photo.jpg");
    background-size: 100% 100%;


}

img {
    width: 700px;
    max-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 110vh;
    height: 100vh;
}

.section1 {
    height: 25vh;
    width: 110vh;
    background-color: #5b380b;
}

.section1>p {
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: consolas;
    color: #d2cdc6;
}


.section2 {
    height: 50vh;
    width: 110vh;
    background-color: #d2cdc6;
}

.section2>h1 {
    padding-left: 10px;
    font: consolas;

}

.section3 {
    height: 25vh;
    width: 110vh;
    background-color: #5b380b;
}