@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

@font-face {
    font-family: "Rosie sans";
    src: url("./fonts/RosieLight.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Rosie sans";
    src: url("./fonts/RosieRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Rosie sans";
    src: url("./fonts/RosieBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

.page {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 110vh;
    height: 100vh;
    background-image: url("photos/coffee_photo.jpg");
    background-size: 100% 100%;
}

img {
    width: 700px;
    max-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlayContent>h1 {
    color: white;
    font-family: "Rosie sans";
    font-weight: italic;
    font-size: 120px;
    margin-left: 250px;

}

#coffee-icon {
    height: 30%;
    width: 20%;
    margin-top: 145px;
    position: absolute;
    right: 30%;
}

.sources {
    margin-top: 50%;
    margin-left: 25%;
    font-family: 'Convergence', sans-serif;
    color: white;
}

a {
    color: wheat;
}

.sources>.secondP {
    margin-left: 7vh;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 110vh;
    height: 100vh;
}

.section1 {
    height: 25vh;
    width: 110vh;
    background-color: #5b380b;
}

.section1>p {
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: consolas;
    color: #d2cdc6;
}

.section2 {
    height: 50vh;
    width: 110vh;
    background-color: #d2cdc6;
    display: flex;
    flex-direction: row;

}

.left-sector>h1 {
    padding-top: 15px;
    font-family: "Rosie sans";
    font-style: italic;
    margin-bottom: 35px;
    margin-left: 40px;

}

.left-sector {

    width: 55vh;
    height: 49vh;

}

.right-sector {

    width: 55vh;
    height: 40vh;
    padding-top: 110px;
}


.testForm {
    position: relative;
    width: 15rem;
    height: 3rem;
    margin-bottom: 30px;
}


.formInput {
    border: 4px solid #b3aa9e;
    border-radius: 0.5rem;
    font-size: inherit;
    font-family: 'Convergence', sans-serif;
    font-weight: 400;
    outline: none;
    position: absolute;
    background: none;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 13rem;
}

.formLabel {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    cursor: text;
    transition: top200ms ease-in, left 200ms ease-in font-size 200ms ease-in;
    background-color: #d2cdc6;
    font-family: consolas;
}

.formInput,
.formLabel {
    margin-left: 2rem;
}

.formInput:hover {
    border-color: #d8ae46;
}


.formInput:focus {
    border-color: #f0b214;
}

.formInput:focus~.formLabel,
.formInput:not(:placeholder-shown).formInput:not(:focus)~.formLabel {
    top: -0.5rem;
    font-size: 0.9rem;
    font-weight: inherit;
    left: 0.8rem;
}


.testForm2 {
    position: relative;
    width: 15rem;
    height: 3rem;
    margin-bottom: 30px;
}

.formInput2 {
    border: 4px solid #b3aa9e;
    border-radius: 0.5rem;
    font-size: inherit;
    font-family: 'Convergence', sans-serif;
    font-weight: 400;
    outline: none;
    background: none;
    width: 13rem;
    height: 1.5rem;
    top: 0;
    left: 0;
    position: absolute;
}

.formLabel2 {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    cursor: text;
    transition: top200ms ease-in, left 200ms ease-in font-size 200ms ease-in;
    background-color: #d2cdc6;
    font-family: consolas;
}

.formInput2,
.formLabel2 {
    margin-left: 2rem;
}

.formInput2:hover {
    border-color: #d8ae46;
}


.formInput2:focus {
    border-color: #f0b214;
}


.formInput2:focus~.formLabel2,
.formInput2:not(:placeholder-shown).formInput2:not(:focus)~.formLabel2 {
    top: -0.5rem;
    font-size: 0.9rem;
    font-weight: inherit;
    left: 0.8rem;
}

.section3 {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 110vh;
    background-color: #5b380b;
    position: relative;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    margin-top: auto;
}

#signature {
    font-family: consolas;
    color: #d2cdc6;
    margin: 0 15px;
    padding: 5px;

}


.section3>p {
    font-family: consolas;
    color: #d2cdc6;
    margin-left: 15px;
}

.section3>button {
    width: 150px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #d2cdc6;
    font-weight: bold;
    font-size: 15px;
}

#submit:hover {
    background-color: #f0b214;
    border-color: #d8ae46;
    border: solid;
}

.logo {
    margin-left: 20%;
}

#ghlogo {
    height: 50px;
    width: 50px;
    margin-left: 52%;
}


span {
    color: red;
}